.app__servingquality {
    text-align: center;
}

.app__servingquality-heading {
    flex-direction: column;
}

.app__servingquality-heading h1 {
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 2rem;
}

.app__servingquality-heading p {
    max-width: 700px;
    color: var(--color-grey);
    margin-top: 2rem;
}

.app__servingquality-btns {
    margin-top: 2rem;
}
.app__servingquality-btns button{
    margin: 1rem;
}
.app__servingquality-btns button:nth-child(2) {
    background: transparent;
    color: var(--color-golden);
}

.app__servingquality-btns button:hover:nth-child(2) {
    background: var(--color-golden);
    color: var(--color-black);

}
@media screen and (max-width:660px) {
    .app__servingquality-btns button{
       padding:.5rem 1rem;
    }
}