.app__register {
  height: 100vh;
  position: relative;
}

.app__register .app__video-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.app__register-background_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.app__register-form {
  border-radius: 10px;
  background: var(--color-black);
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  z-index: 4;
}
.app__register-form .headtext__cormorant {
  text-align: center;
}

.app__register-form_label {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.app__register-form .app__register-form-input,
.app__register-form .app__register-form_label-input {
  all: unset;
  background: transparent;
  font-family: var(--font-alt);
  font-size: 14px;
  color: var(--color-white);
  font-weight: 400;
  -webkit-font-feature-settings: "tnum" on, "lnum" on;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 28px;
  letter-spacing: 0.04em;
  border: 1px solid var(--color-golden);
  padding: 0.5rem;
  caret-color: var(--color-grey);
  transition: all 0.4s ease;
}
.app__register-form_label-input {
  flex-basis: 50%;
}
.app__register-form .app__register-form-input:-webkit-autofill,
.app__register-form .app__register-form-input:-webkit-autofill:hover,
.app__register-form .app__register-form-input:-webkit-autofill:focus,
.app__register-form .app__register-form-input:-webkit-autofill:active,
.app__register-form .app__register-form_label-input:-webkit-autofill,
.app__register-form .app__register-form_label-input:-webkit-autofill:hover,
.app__register-form .app__register-form_label-input:-webkit-autofill:focus,
.app__register-form
  .app__register-form_label-input:-webkit-autofill:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-white) !important;
  -webkit-box-shadow: 0 0 0px 1000px var(--color-Dark-Jungle-Green) inset;
}
.app__register-form input:focus {
  background: var(--color-Dark-Jungle-Green);
}
.app__register-form_label-w100 {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}

.app__register-form_showpassword {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.app__register-form_showpassword span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.app__register-form_showpassword .check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.app__register-form_showpassword .check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.app__register-form_showpassword .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.app__register-form_showpassword .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.app__register-form_showpassword .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.app__register-form_showpassword .check:hover:before {
  opacity: 1;
}
.app__register-form_showpassword .check:hover svg {
  stroke: #4285f4;
}
.app__register-form_showpassword #checkbox:checked + .check svg {
  stroke: #4285f4;
}
.app__register-form_showpassword #checkbox:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.app__register-form_showpassword #checkbox:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
.app__register-form_button {
  color: var(--color-black);
  border: 1px solid var(--color-golden);
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--color-golden);
  transition: 0.2s;
  cursor: pointer;
}

.app__register-form_button:hover {
  color: var(--color-white);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--color-Dark-Jungle-Green);
  box-shadow: 0.25rem 0.25rem var(--color-golden);
}

.app__register-form_button:active {
  transform: translate(0);
  box-shadow: none;
}
.error__message {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 10px;
  font-size: 12px;
  color: #ffa500;
}
.login {
  font-size: 14px;
}
.login a {
  font-size: 14px;
  color: blue;
  text-decoration: underline;
}
@media screen and (max-width: 550px) {
  .app__register-form {
    gap: 10px;
    padding: 1rem 2rem;
    width: 100%;
  }
.app__login-form{
  gap: 20px;
  width: 400px;
}
  .app__register-form_label {
    flex-direction: column;
  }
  .app__register-form .app__register-form-input,
  .app__register-form .app__register-form_label-input {
    line-height: 20px;
    font-size: 14px;
  }
 
}
@media screen and (max-width: 450px) {
  .login,
  .login a,
  .error__message {
    font-size: 10px;
  }
}
